* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    /* Neutral */
    --v-pale-blue: hsl(225, 100%, 98%);
    --desat-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%)
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

.container {

    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}

.content {


    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 16px;
}

.main-image {
    display: flex;
    margin-bottom: 2rem;

}

.main-image img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.header h1,
.header p {
    text-align: center;
}

.header h1,
.header p {
    margin-bottom: 1rem;
}

.header h1 {
    font-weight: 900;
}

.header p {
    color: gray;
    
}

.plan-details {
    background-color: var(--v-pale-blue);
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    border-radius: 10px;
    margin-bottom: 1rem;

}

.annual-plan p:nth-child(1) {
    font-weight: 900;
}



.plan-details a {
    padding-top: 0.5rem;
    color: var(--bright-blue);
}

.proceed-btn {
    display: block;
    margin: 0 auto;
    width: 87%;
    padding: .8rem 0;
    font-size: 0.9rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: var(--bright-blue);
    color: white;
    font-weight: 900;
}

.cancel-order-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.cancel-order-btn a {
    text-decoration: none;
    color: grey;
    font-weight: lighter;
}
